/* Make full page height available */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Page layout */
body {
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  background: #2196f3;
  padding: 20px;
  text-align: center;
  color: #fff;
}

/* MIDDLE SECTION (takes all empty space) */
main {
  flex: 1;                 /* this expands middle area */
  padding: 100px;
  background: #f9f9f9;     /* light color so you can SEE the middle */
  text-align: center;
}

/* Footer at bottom */
footer {
  padding: 250px;
  text-align: center;

  /* ADD THIS */
  margin-bottom: 20px;   /* creates space under footer */
}

